# Nevermined (required)
NVM_API_KEY=nvm:your-api-key
NVM_ENVIRONMENT=sandbox

# Plan IDs — created by `yarn register-plans` (see scripts/register-plans.ts)
PLAN_ID_CREDITS=
PLAN_ID_TIME=
PLAN_ID_PAYG=

# Server
PORT=3000
